html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* global styling */
/* * {
    border: 1px solid rebeccapurple;
} */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3,
button {
    font-family: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

/* general styling */

header h1 {
    font-size: 12rem;
    margin: 0;
    font-weight: 500;
}

h2 {
    font-size: 3.7rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.7rem;
    line-height: 25px;
    margin: 0;
    padding: 0
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    padding: 10px 25px;
    color: #FCFCFC;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: rgba(24, 51, 153, 0.78);
    cursor: pointer;
}

/* SECTIONS */

/* HEADER styling*/
header {
    /* background styling */
    background: url('assets/image-1.jpg') no-repeat fixed;
    background-size: cover;

    /* sizing styling */
    height: 100vh;
    min-height: 600px;
    
    /* marg/pad styling */
    padding-top: 35px;

    /* position styling */
    position: relative;
}

/* top-logo styling */
.top-logo {
    width: 50%;
    float: left;
    height: 25%;
}

.top-logo h2 {
    /* font styling */
    font-style: italic;
    font-weight: 500;
    color: #FCFCFC;

    /* marg/pad styling */
    margin: 0;
    padding: 0;
}

.top-logo a {
    float: left;
}

/* hero-nav styling */
.hero-nav label {
    display: none;
}

.hero-nav input {
    display: none;
}

.hero-nav {
    float: right;
    margin-top: 10px;
}

.hero-nav li {
    display: inline-block;
}

.hero-nav a {
    /* text styling */
    color: #FCFCFC;
    text-transform: uppercase;
    text-align: center;

    /* marg/pad styling */
    padding-left: 25px;
}

/* h1 styling */
header h1 {
    /* font styling */
    color: #FCFCFC;
    font-size: 12.5rem;

    /* text styling */
    text-align: center;
    text-transform: uppercase;
    line-height: 90%;

    /* marg/pad styling */
    padding-top: 20rem;

    /* other styles */
    clear: both;
}

h1 span {
    /* layout styling */
    display: block;

    /* font styling */
    font-style: italic;
    font-size: 20rem;

    /* text styling */
    text-transform: uppercase;
}

/* media-links styling */

.media-links {
    /* position styling*/
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.media-links a {
    /* layout styling */
    display: block;

    /* text styling */
    text-decoration: none;
    text-align: center;

    /* marg/pad styling */
    padding-top: 10px;
}

.media-links i {
    font-size: 2rem;
    color: #FCFCFC;
}

/* MAIN styling */

/* fashion-gallery styling */
.fashion-gallery {
    margin: 60px 0;
}

.fashion-gallery h2 {
    /* text styling */
    text-align: center;

    /* marg/pad styling */
    margin-bottom: 60px;
}

.fashion-gallery ul {
    display: inline-block;
}

.fashion-gallery ul li {
    /* layout styling */
    float: left;

    /* size styling */
    width: calc(100%/3 - 60px/3);

    /* marg/pad styling */
    margin-right: 30px;
}

.fashion-gallery li:nth-child(3) {
    margin-right: 0;
}

.fashion-gallery li img {
    /* layout styling */
    display: block;

    /* size styling */
    width: 100%;
}


/* article-highlights styling */
.article-highlights {
    padding: 30px 0 80px 0;
}

.article-highlights-img {
    /* layout styling */
    float: left;

    /* size styling */
    width: calc(25% - 30px);

    /* marg/pad styling */
    margin-right: 30px;
}

.article-highlights-img img {
    /* layout styling */
    display: block;

    /* size styling */
    width: 100%;
}

.article-highlights-text {
    /* layout styling */
    float: left;

    /* size styling */
    width: 75%;
}

.article-highlights-text p {
    margin: 10px 0 0 0;
}

.article-highlights-text button {
    clear: both;
    margin-top: 20px;
}

/* regular article styling */ 
.regular-article {
    margin-top: 40px;
}

/* first-regular-article styling */

.first-regular-article-text {
    float: left;
    width: 45%;
    padding: 40px 0 0 0;
}

.first-regular-article-text h2 {
    width: 70%;
    padding: 10px 0 0 0;
}

.first-regular-article-text p {
    margin: 10px 0 0 0;
}

.first-regular-article-text button {
    margin-top: 20px;
}

.first-regular-article-img {
    width: 50%;
    height: 100%;
    float: right;
}

.first-regular-article-img img {
    width: 100%;
    display: block;
}

/* second-regular-article styling */ 
.second-regular-article-text {
    float: right;
    width: 45%;
    padding: 40px 0 0 0;
}

.second-regular-article-text h2 {
    padding: 10px 0 0 0;
}

.second-regular-article-text p {
    margin: 10px 0 0 0;
}

.second-regular-article-text button {
    margin-top: 20px;
}

.second-regular-article-img {
    width: 50%;
    height: 100%;
    float: left;
}

.second-regular-article-img img {
    width: 100%;
    display: block;
}



/* features styling */  
.features {
    /* background styling */
    background: url('assets/one-magazine-footer.jpg') no-repeat;
    background-size: cover;

    /* marg/pad styling */
    padding: 70px 0;

}

.features ul li {
    /* layout stlying */
    float: left;

    /* size styling */
    width: calc(100%/3 - 200px/3);

    /* marg/pad styling */
    margin-right: 100px;

    /* text styling */
    text-align: center;
}

.features li:nth-child(3) {
    margin-right: 0;
}

.features a {
    /* layout styling */
    display: inline-block;

    /* text styling */
    color: #FCFCFC;
    line-height: 3.5rem;
}

.features i {
    font-size: 6rem;
}

/* FOOTER STYLING */
footer {
    /* background styling */
    background-color: #E3E3E3;

    /* marg/pad styling */
    padding-top: 80px;
}

/* email-form styling */

.email-form {
    /* layout tyling */
    float: left;

    /* size styling */
    width: 50%;

    /* text styling */
    line-height: 4rem;

    /* marg/pad styling */
    margin: 0px 50px 80px 0;
}

.email-form-input {
    padding: 15px 0;
}

input[type="email"] {
    /* layout styling */
    float: left;

    /* size styling */
    width: 70%;

    /* marg/pad styling */
    padding: 10px;

    /* other styles */
    border: none;
}

input::placeholder {
    font-size: 1.5rem;
}

input[type="submit"]{
    /* background styling */
    background: #000;

    /* layout styling */
    float: left;

    /* text styling */
    font-family: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;
    text-transform: uppercase;
    color: #FCFCFC;

    /* marg/pad styling */
    padding: 10px 25px;

    /* other styles */
    border: none;
}

/* contact-address styling */
.contact-address {
    /* layout styling */
    float: left;

    /* marg/pad styling */
    margin: 0 50px 80px 0;
}

.contact-address h3 {
    /* text styling */
    line-height: 4rem;

    /* marg/pad styling */
    padding-bottom: 10px;
}

.contact-address p,
.contact-address address {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.contact-address address {
    font-style: normal;
}

/* footer-nav styling */ 
.footer-nav {
    /* layout styling */
    float: right;

    /* text-styling */
    text-transform: uppercase;
    text-align: right;

    /* marg/pad styling */
    margin-bottom: 80px;
}

.footer-nav li {
    padding-bottom: 10px;
}

.footer-nav a {
    color: #000;
}

/* copyright styling */ 
.copyright {
    /* background styling */
    background: #ACACAC;

    /* text styling */
    text-align: center;

    /* marg/pad styling */
    padding: 10px;

    /* other styles */
    clear: both;
}

/* MEDIA QUERIES /// RESPONSIVE STYLING */
@media (max-width: 1340px) {
    .second-regular-article-text {
        padding: 20px 0 0 0;
    }
    .first-regular-article-text button {
        margin-top: 10px;
    }
}

@media (max-width: 1265px) {
    .first-regular-article-text {
        padding: 40px 0 40px 0;
    }  
    
    .first-regular-article-img {
        width: 50%;
    }  

    .second-regular-article-text {
        padding: 0px 0 20px 0;
    }  
    
    .second-regular-article-img {
        width: 50%;
    } 
}

@media (max-width: 1125px) {
    .article-highlights-img {
        width: calc(35% - 30px);
    }
    .article-highlights-text {
        width: 65%;
    }
}

@media (max-width: 1085px) {
    .article-highlights {
        padding: 30px 0 30px 0;
    }
    .first-regular-article-img {
        width: 100%;
    }

    .first-regular-article-text {
        text-align: center;
        width: 100%;
        padding: 50px 0;
    }

    .first-regular-article-text h2 {
        width: 100%;
    }

    .first-regular-article-text button {
        margin-top: 20px;
    }

    .second-regular-article-img {
        width: 100%;
    }

    .second-regular-article-text {
        text-align: center;
        width: 100%;
        padding: 50px 0;
    }

    .second-regular-article-text h2 {
        width: 100%;
    }

    .second-regular-article-text button {
        margin-top: 20px;
    }
}

@media (max-width: 1015px) {
    .email-form {
        margin: 0;
    }

    input[type="submit"] {
        width: 70%;
        margin-top: 10px;
    }
}

@media (max-width: 925px) {
    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    p,
    .contact-address p,
    .contact-address address {
        font-size: 1.5rem;
    }

    header h1 {
        font-size: 10rem;
        line-height: 12rem;
    }

    .fashion-gallery {
        margin: 40px 0;
    }

    .fashion-gallery h2 {
        margin-bottom: 40px;
    }

    .fashion-gallery ul li {
        width: calc(100%/3 - 20px/3);
        margin-right: 10px;
    }

    .article-highlights {
        padding: 0;
    }
    .article-highlights-img {
        width: 100%;
        padding: 40px;
        margin: 0;
    }

    .article-highlights-text {
        width: 100%;
        text-align: center;
    }

    .article-highlights-text h2 {
        text-align: center;
        font-size: 3.5rem;
    }

    .article-highlights p {
        text-align: start;
    }

    .article-highlights button {
        padding: 15px 45px;
    }
}

@media (max-width: 870px) {
    h3 {
        font-size: 2rem;
    }

    .fashion-gallery ul li {
        width: calc(100%/2 - 20px/2);
    }

    .fashion-gallery li:nth-child(3) {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .features {
        padding: 40px 0;
    }

    .features h2 {
        font-size: 2.4rem;
    }

    .features i {
        font-size: 4rem;
    }

    footer {
        padding-top: 40px
    }

    .contact-address {
        margin: 0;
    }

    .footer-nav {
        margin-bottom: 40px;
    }

    .footer-nav li {
        padding-bottom: 20px;
    }
}

@media (max-width: 850px) {
    .top-logo {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .hero-nav {
        float: none;
    }

    .hero-nav ul {
        text-align: center;
    }

    .hero-nav li {
        font-size: 2.5rem;
    }
}

@media (max-width: 750px) {
    header h1 {
        font-size: 8rem;
    }

    .features {
        padding: 20px 0;
        background-position: 53%;
    }

    .features ul li {
        float: none;
        width: 100%;
        margin: 30px 0;
    }

    .features h2 {
        font-size: 3rem;
    }

    .features i {
        font-size: 5rem;
    }

    footer h3 {
        font-size: 3rem;
    }

    .email-form {
        width: 100%;
        text-align: center;
    }

    .email-form-input {
        display: inline-block;
        width: 100%;
    }

    input[type="email"],
    input[type="submit"] {
        width: 100%;
    }

    .contact-address p,
    .contact-address address {
        font-size: 1.7rem;
    }

    .footer-nav li {
        padding-bottom: 10px;
    }
}

@media (max-width: 625px) {

    header h1 {
        padding-top: 10rem;
    }

    .media-links {
        right: 9999%;
    }

    .hero-nav label {
        display: block;
        text-align: right;
        cursor: pointer;
        font-size: 7rem;
        color: #FCFCFC;
    }

    .top-menu-links {
        display: none;
    }

    #toggle:checked + .top-menu-links {
        display: block;
    }
}

@media (max-width: 450px) {
    header h1 {
        padding-top: 12rem;
        font-size: 6rem;
        line-height: 10rem;
    }

    header span {
        font-size: 15rem;
    }

    .top-menu-links {
        display: none;
    }

    #toggle:checked + .top-menu-links li {
        padding: 10px;
        display: block;
    }
}

@media (max-width: 400px) {
    header {
        background-position: 55%;
    }

    .features {
        background-position: 65%;
    }

    footer p,
    footer .contact-address p,
    footer .contact-address address {
        font-size: 1.4rem;
    }

    input[type="submit"] {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    header h1 {
        font-size: 5rem;
        line-height: 7rem;
    }

    header h1 span {
        font-size: 12rem;
    }
}